nav {
  position: sticky;
  z-index: 100;
  top: -1px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
  background-color: rgba(255, 255, 255, 0.521);
  .logo {
    img {
      width: 182px;
      height: 56px;
    }
  }

  gap: 1rem;

  .profile {
    color: var(--orange);
    font-size: 16px;
    line-height: 19px;
    min-width: 5rem;
    &:hover {
      opacity: 0.9;
    }
  }
  .searchBar {
    width: 100%;
  }
  .cart {
    border-radius: 50%;
    padding: 0.5rem;
    position: relative;
    span {
      &.hide {
        opacity: 0;
        scale: 0;
      }
      background-color: var(--orange);
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      color: white;
      font-size: 0.9rem;
      transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
      scale: 1;
      width: 1.3rem;
      height: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      background: #c5c5c52d;
    }
  }
  .actions {
    width: fit-content;
  }
  button.hello {
    border: var(--indigo) 2px solid;
    border-radius: 100px;
    padding: 0.3rem;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    span {
      display: block;
    }
  }
}
.searchBar {
  width: 100%;
  form {
    border-radius: 1000px;
    width: 100%;
    border: 2px solid var(--indigo);
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    gap: 0.5rem;
    padding: 0.5rem 20px;
    input {
      &::placeholder {
        color: var(--white-30);
      }
      width: 100%;
      background-color: transparent;
      padding: 0;
      border: 0;
      outline: 0;
      min-height: 100%;
    }
  }
}
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
header {
  .ctg {
    .card {
      // background: #bae1f7;
      width: 64px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      &.green {
        background: #f1fff2;
      }
      &.blue {
        background-color: #e3f5ff;
      }
      &.green2 {
        background-color: #f1fff2;
      }
      &.pink {
        background: #ffe0e0;
      }
      &.red {
        background: #f9e4d3;
      }
      &.brown {
        background: #f9e4d3;
      }
      &.orange {
        background: #fffaf5;
      }
      &.voilet {
        background: #f8f1ff;
      }
      &.indigo {
        background: #f8f1ff;
      }
      &.blue2 {
        background: #e3f5ff;
      }
    }
    h4 {
      font-weight: 500;
      text-align: center;
      font-size: 16px;
      line-height: 19px;

      // color: #13315c;
    }
  }
}

main .product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  button.buy {
    border: orange 2px solid;
    padding: 0.4rem 1.4rem;
    border-radius: 1000px;
    font-weight: 600;
    color: #000032;
    background-color: transparent;
    span {
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      text-decoration-line: line-through;
      margin: 0.3rem;
      color: #b3b3b3;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    min-height: 250px;
  }
}

.bg {
  background-color: #f2f2f2;
  padding: 2rem;
  .tabs {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    gap: 1rem;
    align-items: flex-start;
    > div {
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      background: #f2f2f2;
      color: var(--white-30);
    }
    div.active {
      /* White/White 05 - #F2F2F2 */
      padding: 0.5rem 1.5rem;
      background: #f2f2f2;
      color: var(--orange);
      box-shadow: inset 0px -3px 0px var(--orange);
    }
  }
}
.latest {
  h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
  }
}
footer {
  background-color: #000032;
  color: white;
  margin-top: 3rem;
  min-height: 40vh;
}
.details {
  .image {
    > img {
      border-radius: 8px;
      min-height: 500px;
      max-width: 100%;
      border: 1px solid #d9d9d9;
    }
    div > button {
      width: 67.87px;
      height: 58px;
      border: 1px solid #d9d9d9;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      border-radius: 4px;
      &.active {
        border: 1px solid #2e54ff;
        transform: scale(1.05);
      }
    }
  }
  .info {
    h1 {
      font-weight: 500;
      font-size: 31px;
      line-height: 36px;
      color: #1a1a1a;
    }
    .price {
      h3 {
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        color: #000032;
      }
      span {
        font-weight: 600;
        text-decoration-line: line-through;
        margin: 0.3rem;
        color: #b3b3b3;
      }
    }
    .get {
      span {
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        color: #000032;
      }
      button {
        width: 24px;
        height: 24px;

        /* Brand/Blue/Blue - #2E54FF */

        background: #2e54ff;
        color: white;
        border-radius: 8px;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &.min {
          /* Brand/Blue/Blue - #2E54FF */
          background-color: transparent;

          color: #000032;

          border: 2px solid #2e54ff;
          border-radius: 8px;
        }
      }
    }
  }
  .description {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    /* Black/Black 60 - #666666 */

    color: #666666;
    ul {
      list-style: disc;
      padding-left: 1.2rem;
    }
    h3 {
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      margin: 1rem 0px;
      color: #333333;
    }
    p {
      margin: 0.5rem 0px;
    }
  }
}
.profile .chat {
  background: var(--orange);
  color: white;
  width: 96px;
  height: 38px;

  border-radius: 8px;
}
.catagorie {
  h1 {
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 1.2rem;
  }

  .btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4d4d4d;
    button {
      border: 2px solid #b3b3b3;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      padding: 0.6rem 1.6rem;
      line-height: 19px;
      color: #666666;
    }
  }
}
.get {
  span {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #000032;
  }
  button {
    width: 24px;
    height: 24px;

    /* Brand/Blue/Blue - #2E54FF */

    background: #2e54ff;
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &.min {
      /* Brand/Blue/Blue - #2E54FF */
      background-color: transparent;

      color: #000032;

      border: 2px solid #2e54ff;
      border-radius: 8px;
    }
  }
}
.filter aside {
  top: 100px;
  overflow: auto;
  left: 0;
  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
  }
}
.cart {
  .pay {
    width: 340px;
    height: 270px;
    background: #f2f2f2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 24px;
    gap: 1.5rem;

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;

      color: #000000;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      color: #333333;
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: block;
        margin-top: 0.5rem;
        color: #808080;
      }
    }
    button {
      width: 100%;
      background: #f6a973;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px 24px;
      gap: 10px;
      color: white;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      border-radius: 32px;
    }
  }
  main > div {
    input {
      accent-color: #2e54ff;
      width: 1.1rem;
      height: 1.1rem;
    }
    img {
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      width: 110px;
      height: 110px;
    }
    h3 {
      font-weight: 500;
      font-size: 21px;
      line-height: 29px;
      color: #1a1a1a;
    }
    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      color: #000032;
    }
  }
}
body div.minHeightContainer > main {
  height: fit-content;
  min-height: 76vh;
  // margin-bottom: 1rem;
}
